body{
  background-image: url("pic2.jpg");
  background-size: 10000px;
  font-family: cursive;
}
.App {
  text-align: center;
}


.input{
/* border-radius: 12px; */
width: 250px;
height: 50px;
}
/* .disabled {
  pointer-events: none;
} */

.allPage{
display: flex;
padding: 40px;

flex-direction: column;
}

.head{
  display: inline;
}
.username {
  font-family: cursive;
  font-weight: bold;
  color:white;
  text-shadow: 5px 5px 15px black;
  text-align: center;
  font-size: 50px;
  background-color: silver;
   opacity: 0.6;;


}

.list{
position: absolute;
top: 210px;
width: 240px;
color: aliceblue;
/* display: flex; */
align-items: flex-start;
align-self: flex-start;
justify-content: left;
font-family: Arial, Helvetica, sans-serif;
}
.form{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 20px;
  align-self: center;
}
.btnLogIn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: x-large;
  color: darkseagreen;
  background-color: gold;
}

.bigPlyr{
     display: flex;
   justify-content: center;
}
.plyr{

width: 1000px;
height: 600px;
justify-content: center;
border-style: solid;
border-width: 5px, 20px;
border-color:  white;
   

}

.search{
top: 20px;
border-radius: 12px;
width: 200px;
height: 40px;
}

.bigBtn{
  display: flex;
  justify-content:start;
  align-content: flex-start;
}
.buttondel{
  /* display: flex;
  justify-content: flex-start; */
  top: 10px;
  font-family: cursive;
  border-radius: 12px;
  }

.buttonadd{
  display: flex;
  justify-content:right;
  font-family: cursive;

  /* align-content: flex-start; */
  /* flex-direction: column; */
  /* align-content: flex-end; */
}
/* .bigExternalList{
  display:flex;
  justify-content:right;
  flex-direction: row;
} */
.externalList{
  color: white;
  float: right;
  position:absolute;
  right: 2%;
 width: 16%;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 cursor: pointer;

}


.btn{
background-color: transparent;
border: none;
cursor: pointer;
font-size: large;
}

.btn:hover {background-color: indianred}

.btn:active {
  background-color:indianred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.icon{
  width: 180px;
  height: 130px;
}